body:before { 
                            white-space: pre; 
                            font-family: monospace; 
                            content: 'Sass \\Users\\adelacruz\\Public\\Highcharts Themer\\assets\\scss\\custom\\palettes.scss:5: error: file to import not found or unreadable: \"foundation\\settings\" \A '; } 
                            
                            body * { 
                            display: none; 
                            } 